.container{
    margin-top: 10%;
}

.mat-form-field {
    width: 100%;
    min-width: 300px;
}

mat-card-title {
    display:flex;
    justify-content: center;
}

.error {
    color: #f44336;
    background-color: #f2dede;
    border: 1px solid #f44336;
    height: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
}

.login-button {
    float: right;
}

.signup-button{
    float: left;
}