<div fxLayout="row">
  <div fxFlex="25%">
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
      <div fxFlex="80%">
        <input matInput placeholder="{{notes.length}} notes" class="note-search" [formControl]="searchNotesControl">
      </div>
      <div fxFlex="10%">
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
          <mat-icon color="primary">sort</mat-icon>
        </button>
        <mat-menu #appMenu="matMenu">
          <button mat-menu-item (click)="getNotesOrdered('CreatedNewest')">Created: Newest</button>
          <button mat-menu-item (click)="getNotesOrdered('CreatedOldest')">Created: Oldest</button>
          <button mat-menu-item (click)="getNotesOrdered('ModifiedNewest')">Modified: Newest</button>
          <button mat-menu-item (click)="getNotesOrdered('ModifiedOldest')">Modified: Oldest</button>
          <button mat-menu-item (click)="getNotesOrdered('TitleAtoZ')">Title: A to Z</button>
          <button mat-menu-item (click)="getNotesOrdered('TitleZtoA')">Title: Z to A</button>
        </mat-menu>
      </div>
      <div fxFlex="10%">
        <button mat-icon-button (click)="addNote()">
          <mat-icon color="primary">add</mat-icon>
        </button>
      </div>
    </div>
    <mat-divider></mat-divider>
    <cdk-virtual-scroll-viewport itemSize="100">
      <mat-list>
        <mat-list-item *cdkVirtualFor="let note of notes; let i = index" [class.selected]="note === selectedNote"
          (click)="onSelect(note)">
          <div *ngIf="note.title" matLine>
            <b>{{ note.title | htmlToPlaintext | limitTo: 30 }}</b>
          </div>
          <div *ngIf="!note.title" matLine>
            <b>Untitled</b>
          </div>
          <div matLine>
            {{ note.content | htmlToPlaintext | limitTo: 60 }}
          </div>
          <div matLine>
            {{ note.modified | timeAgo }}
          </div>
          <button *ngIf="note === selectedNote" mat-icon-button (click)="openDeletionDialog(note.id, i)">
            <mat-icon color="primary">delete_outline</mat-icon>
          </button>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </cdk-virtual-scroll-viewport>

  </div>
  <div *ngIf="selectedNote" fxFlex="75%">
    <app-note [note]="selectedNote"></app-note>
  </div>
</div>