<div fxLayout="row">
  <div fxFlex="25%">
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
      <div fxFlex="90%">
        <input matInput placeholder="{{notes.length}} notes" class="note-search" [formControl]="searchNotesControl">
      </div>
      <div fxFlex="10%">
        <button mat-icon-button (click)="addNote()">
          <mat-icon color="primary">add</mat-icon>
        </button>
      </div>
    </div>
    <mat-divider></mat-divider>
    <cdk-virtual-scroll-viewport itemSize="100">
      <mat-list>
        <mat-list-item *cdkVirtualFor="let note of notes;" [class.selected]="note === selectedNote"
          (click)="onSelect(note)">
          <div *ngIf="note.title" matLine>
            <b>{{ note.title | htmlToPlaintext | limitTo: 30 }}</b>
          </div>
          <div *ngIf="!note.title" matLine>
            <b>Untitled</b>
          </div>
          <div matLine>
            {{ note.content | htmlToPlaintext | limitTo: 60 }}
          </div>
          <div matLine>
            {{ note.modified | timeAgo }}
          </div>
          <!-- <mat-icon>star_border</mat-icon> -->
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </cdk-virtual-scroll-viewport>

  </div>
  <div *ngIf="selectedNote" fxFlex="75%">
    <app-note [note]="selectedNote"></app-note>
  </div>
</div>