.note-actions{
  height: 40px;
  font-size: 16px;
  vertical-align: middle; 
  padding-left: 20px;
}

.selected{
  background-color:aliceblue; 
}

.note-search{
  text-align: center;
  width: 100%;
  border-style: none;
  outline: none;
}

.mat-list-base{
  padding-top:0px;
  }

.mat-list-item{
  height: 100px; 
  cursor: pointer;
}

.mat-list{
  line-height: 1.75;
}

mat-list-item:hover {
  background-color:aliceblue; 
}

cdk-virtual-scroll-viewport{
  height: calc(100vh - 106px);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px #3f51b5; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #3f51b5; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f51b5; 
}