<div fxLayout="row" fxFill>
  <div fxFlex="25%">
    <div fxLayout="row" fxLayoutAlign="space-evenly center">

      <div fxFlex="90%" style="text-align: center">
        {{notes.length}} notes
      </div>
      <div fxFlex="10%">
        <button mat-icon-button>
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    <mat-divider></mat-divider>
    <cdk-virtual-scroll-viewport itemSize="100">
      <mat-list>
        <mat-list-item *cdkVirtualFor="let note of notes;" [class.selected]="note === selectedNote"
          (click)="onSelect(note)">
          <h3 matLine>
            <div [innerHTML]="note.title | limitTo : 30"></div>
          </h3>
          <h4 matLine>
            <div [innerHTML]="note.content | limitTo : 40"></div>
          </h4>
          <mat-icon>star_border</mat-icon>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </cdk-virtual-scroll-viewport>

  </div>
  <div *ngIf="selectedNote" fxFlex="75%">
    <app-note [note]="selectedNote"></app-note>
  </div>
</div>